.caption {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.caption__info {
    height: 100%;
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.caption__subtitle {}

.caption__banner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    background-size: cover;
    transform: scale(1.2);

    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

.caption__banner::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.6);
}

.caption__subtitle {
    margin-bottom: 5em;

}

.caption__subtitle-text {
    color: white;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 600;
    font-size: clamp(12px, 3vw, 30px);

}

.caption__maintitle {
    margin-bottom: .001em;

}

.caption__maintitle-text {
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .2em;
    line-height: 1em;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(5vw, 12vw, 160px);
}

.caption__description {
    width: 30em;
    font-size: clamp(4px, 2vw, 18px);
    margin-bottom: 5em;

}

.caption__description-text {
    word-spacing: 0px;
    line-height: 1.8em;
    font-size: 1em;
    color: white;

}

.caption__link-btn {
    display: inline-block;
    font-size: clamp(14px,1.5vw,5vw);
    padding: .5em 3em;
    margin-bottom: 3em;
    width: fit-content;
    text-transform: uppercase;
    border-radius: 4px;
    color: white;
    background-color: #5645FF;
}

/* Mobile: Width < 740px */
@media only screen and (max-width: 46.1875em) {
    .caption__info {
        justify-content: flex-end;
        padding: 0 2em;
        padding-bottom: 12em;
    }

    .caption__subtitle {
        margin-bottom: 0;
    }
    .caption__subtitle-text{
        margin-bottom: 0;
    }

    .captiopn__maintitle {
        margin-bottom: 0;
    }

    .caption__maintitle-text {
        font-size: clamp(14px, 10vw, 10vw);
        margin-bottom: 5px;
    }

    .caption__description {
        margin-bottom:  3em;
        width: 100%;
    }
    .caption__description-text{
        font-size: 12px;
    }

    .caption__link-btn {
        font-size: 3vw;
        margin-bottom: 0;
    }
}

/* Tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9365em) {
    .caption__info {
        justify-content: flex-end;
        padding: 0 8em;
        padding-bottom: 12em;
    }

    .caption__subtitle {
        margin-bottom: 0;
    }
    .caption__subtitle-text{
        margin-bottom: 0;
    }

    .captiopn__maintitle {
        margin-bottom: 0;
    }

    .caption__maintitle-text {
        font-size: clamp(14px, 10vw, 10vw);
        margin-bottom: 5px;
    }

    .caption__description {
        margin-bottom:  2em;
        width: 100%;
    }
    .caption__description-text{
        font-size: 12px;
    }

    .caption__link-btn {
        font-size: 2vw;
        margin-bottom: 0;
    }
}