.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 50px;
    background-color: transparent;
    z-index: 9999;
}

.navbar__search-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 2.9375rem;
    background-color: #fff;
    z-index: 999;
}

.navbar__search {
    width: 100%;
    background: #fff;
    color: #c1c5cd;
    height: 100%;
    line-height: 4rem;
    font-size: clamp(1rem, 2.2vw, 2.4rem);
    letter-spacing: .125rem;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    text-align: center;
}

.navbar__search-close {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 15px;
    color: #c1c5cd;
}

.navbar__search-close:hover {
    color: #55565B;
}

.navbar__logo img {
    width: fit-content;
    height: fit-content;
}

.navbar__nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar__nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar__nav-list .list__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.navbar__nav-list .list__item>a {
    padding: 3em 16px;
    font-weight: 500;
    font-size: clamp(.65rem, 1vw, 12px);
    color: rgb(255, 255, 255);
}

.navbar__brand {
    display: flex;
    align-items: center;
    padding: 1.2rem 0;
    flex-grow: 1;
}

.navbar__toggler {
    position: absolute;
    left: 15px;
    top: 15px;
}

.navbar__toggler i {
    font-size: 30px;
    transform: translateY(4px);
    color: #55565B;
}

.navbar__icon {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 20px;
    position: static;
}

.navbar__icon-cart {
    position: relative;
}

.navbar__icon>* {
    height: 100%;
}

.navbar__icon i {
    font-size: clamp(.65rem, 1vw, 12px);
    color: white;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .navbar {
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        background-color: #fff;
    }

    .navbar__brand {
        margin: auto;
    }

    .navbar__nav {
        display: block;
        overflow-y: auto;
        background-color: #fff;
        transition: all .5s ease;
    }

    .navbar__nav-list {
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar__nav-list .list__item {
        flex-direction: column;
        height: fit-content;
        width: 100%;
        justify-content: space-between;
    }

    .navbar__nav-list .list__item>a {
        width: 100%;
        padding: 0.4rem 15px;
        color: #55565B;
    }

    .navbar__icon {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar__icon i {
        font-size: 18px;
        color: #55565B;
    }
}